<div class="topbar">
  <input
    type="text"
    id="newTodo"
    placeholder="Add a new item"
    [(ngModel)]="newTodoName"
    (keyup.enter)="addTodo(newTodoName); newTodoName='';"
  />
  <button
    class="submitButton"
    (click)="addTodo(newTodoName); newTodoName='';"
  >
    Add
  </button>
</div>
@if (loading) {
<div class="loading-placeholder">
  Loading todos...
</div>
}
@if (loadError) {
<div class="error-placeholder">
  {{ loadError }}
</div>
}

@if (!loading && !loadError) {
@if (todos.length === 0) {
<div class="no-todos-placeholder">
  No items found. Let's add some!
</div>
} @else {
<ul class="checkbox-list">
  @for (todo of incompleteTodos; track todo.id) {
  <li>
    <input
      type="checkbox"
      [checked]="todo.isCompleted"
      (change)="toggleTodoCompleted(todo)"
      id="todo-{{todo.id}}"
    />
    <label [for]="'todo-' + todo.id">{{ todo.name }}</label>
  </li>
  }
</ul>
}
}