<div class="topbar">
  <input
    id="newTodo"
    placeholder="Add a new item"
    [(ngModel)]="newTodoName"
    (keyup.enter)="addTodo(newTodoName)"
  />
  <button
    matButton="filled"
    (click)="addTodo(newTodoName)"
  >
    Add
  </button>
</div>

@if (loading) {
<div class="loading-placeholder">
  <mat-spinner diameter="48" />
</div>
}
@if (loadError) {
<div class="error-placeholder">
  {{ loadError }}
  <button matButton="filled" (click)="loadTodos();">
    Retry
  </button>
</div>
}

@if (!loading && !loadError) {
<mat-tab-group
  animationDuration="500ms"
  dynamicHeight
>
  <mat-tab label="Incomplete">
    @if (incompleteTodos.length === 0) {
    <div class="no-todos-placeholder">
      No items found. Let's add some!
    </div>
    } @else {
    <ul class="checkbox-list">
      @for (todo of incompleteTodos; track todo.id) {
      <app-todo-item
        [todo]="todo"
        (toggleCompleted)="toggleTodoCompleted(todo)"
        (delete)="onDeleteButtonClick(todo)"/>
      }
    </ul>
    }
  </mat-tab>
  <mat-tab label="Complete">
    @if (completeTodos.length === 0) {
    <div class="no-todos-placeholder">
      No completed items yet.
    </div>
    } @else {
    <ul class="checkbox-list">
      @for (todo of completeTodos; track todo.id) {
        <app-todo-item
          [todo]="todo"
          (toggleCompleted)="toggleTodoCompleted(todo)"
          (delete)="onDeleteButtonClick(todo)"/>
      }
    </ul>
    }
  </mat-tab>
</mat-tab-group>
}